MySql with python

1. Import mysql connector

In [50]:
import mysql.connector as m

con_obj=m.connect(user="root",password="root",host="localhost",database="test")

2. Create database

In [51]:
cur_obj = con_obj.cursor()
cur_obj.execute("SHOW DATABASES")

for x in cur_obj:
  print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('test',)
('world',)

3.Create table

In [52]:
cur_obj.execute("CREATE TABLE student (name VARCHAR(25), usn varchar(8))")

ProgrammingError: 1050 (42S01): Table 'student' already exists

In [53]:
sql = "INSERT INTO student (name, usn) VALUES (%s, %s)"
val = ("John", "11")
cur_obj.execute(sql, val)

con_obj.commit()

In [55]:
cur_obj.execute("SELECT * FROM student")

myresult = cur_obj.fetchall()

for x in myresult:
  print(x)

('John', '11')

Data Structures
    
        1.Primitive data structure
            -int
            -string
            -bool
            -float
            -char
        2.Non primitive
            i.Linear
                -Static - Arrays
                -Dyanmic - Stack, queue and linked list
            ii.Non linear
                -Tree
                -Graphs

Sorting and searching

Stack operations

In [9]:
class stack:
    def __init__(self,maxsize) -> None:
        self.s1=[]
        self.mx=maxsize
    
    def isEmpty(self):
        if len(self.s1)==0:
            return True
        else:
            return False
    
    def isFull(self):
        if len(self.s1)==self.mx:
            return True
        else:
            return False
    
    def push(self,val):
        if self.isFull():
            print("stack is full")
        else:
            self.s1.append(val)

    def pop(self):
        if self.isEmpty():
            print("Stack is empty")
        else:
            self.s1.pop()
        
    def peek(self):
        pass

    def display(self):
        print(self.s1)

print("Enter\n1.Is Empty\n2.Is Full\n3.Push\n4.Pop\n5.Display\n6.Peek\n7.Exit\n")

ch=int(input("Choice??"))
max=int(input("Size??"))

stk=stack(max)
while(1):
    match(ch):
        case 1:
            print(stk.isEmpty())
        case 2:
            print(stk.isFull())
        case 3:
            val=int(input("Ele to push"))
            stk.push(val)
        case 4:
            stk.pop()
        case 5:
            stk.display()
        case 6:
            stk.peak()
        case 7:
            break

# for i in range(0,max):
#     stk.push(i)
# print("stack elements=",stk.s1)
# stk.pop()
# print("stack after pop=",stk.s1)
# print("Is the stack empty=",stk.isEmpty())
# print("Is the stack full=",stk.isFull())

Enter
1.Is Empty
2.Is Full
3.Push
4.Pop
5.Display
6.Peek
7.Exit

#                Linked list
                        -Single
                        -Double
                        -Circular

## Single linked list 
    -It is a Linear dynamic datastructure, data is present inside a node and nodes are connected in a sequential manner
    
    -Node = It is a memory allocation and contains stored data given by the user and address field stores the address of next  node

In [11]:
class node:
    def __init__(self,data):
        self.data=data
        self.next=None

c=node(1)
print(c)

<__main__.node object at 0x0000018929E0B990>

    Head node will be the first node and holds the address of first node
    In this, first node's next field will holds the address of seconde node and goes on
    In this, last node's next field will be None

In [22]:
class sll:
    def __init__(self) -> None:
        self.head=None

    def insert_atlast(self,val):
        newnode= node(val)
        self.head=newnode
        if self.head is None:
            self.head=newnode
        else:
            temp=self.head   
            while temp.next:
                temp=temp.next
                temp.next=newnode
                
    def insert_atfirst(self,val):
        newnode=node(val)
        if self.head is node:
            self.head=newnode
        else:
            newnode.next=self.head
            self.head=newnode

    def display(self):
        c=0
        if self.head is None:
            print("empty")
        else:
            temp=self.head
            while temp:
                print(temp.data,end="->")
                c+=1
                temp=temp.next
        print("\nNum of nodes=",c)

s=sll()
s.insert_atlast(10)
s.insert_atlast(1000)
s.insert_atfirst(12)
s.display()

12->1000->
Num of nodes= 2