Database management system

    DBMS - 1960 - Charls Bachman (first database)
    1970 - E F codd - relation model
    1986 - IBM handed it to ANSI
    First name of sql - R system
    next name - SEQUEL(simple english query language) -> SQL

    Statements
        -DDL
            -create
            -drop
            -alter
            -truncate
            -rename
        -DML
            -insert
            -update
            -delete
        -TCL
            -commit
            rollback
            -savepoint
        -DCL
            -grant
            -revoke
        -DQL
            -select
            -projection
            -join

    Data types
        -int
        -char
        -varchar
        -date
        -large object 
            -CLOB
            -BLOB

char size max= 2000

    Constraints 
        -Unique
        -Not Null
        -check(domain)
        -Primary key
        -Foriegn key( ref integrity)

    Operators
        -Arithmetic
        -Relational
        -Logical
        -Concatination
        -Special op (IN, NOT IN, BETWEEN, NOT BETWEEN, LIKE, IS)
        -Subquery op (ANY, EXISTS)

    droped table can be retrieved 
    use->Flashback table table_name
    for permanent deletion ->Purge table table_name

    To rename column name
    ->Alter table table_name
    ->Rename column old_name TO new_name

    To change datatype
    ->Alter table table_name
    ->modify column_name varchar(size)

    size should be greater than previously assigned value

##     Assignment
        1.how to insert huge amt of data?
        2.nvl?

DDL - autocommit

DML - no auto commit
1.Insert
2.Delete
........

grant and revoke

**For indexing**
->Create index index_name on table_name (col_name)

## Join op
    -cross
    -inner/equi
    -natural
    -outer
        -left
        -right
        -full
    -self

    Cross join/cartesian join
        
    Inner join 
        select * colname from t1 innerjoin t2

    Natural join

Outer join

Max subquery = 255

Subquery

    select e1.sal
    from emp e1
    where(select count(distinct e2.sal)from emp e2 where e1.sal <=e2.sal> in 1); #here 1 displayes 1st max sal..(1,2,3 or any num can be given)

## Pseudo Column
    1.Row id
    2.Row num

select ename from (select rownum, slno,empno from emp) 
where slno=(1,2,4);  #displays 1st, 2nd and 4th entry

<> means not equal